.spinner{
    display:block;
    margin:auto;
    width:150px;
    margin-top: 35vh;
    mix-blend-mode: multiply;
    animation:spin 4s linear infinite;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
/*style={{ width: '200px', margin: 'auto', display: 'block' }}*/